:root {
  --purple: hsl(259, 100%, 65%);
  --light-red: hsl(0, 100%, 67%);

  --white: hsl(0, 0%, 100%);
  --off-white: hsl(0, 0%, 94%);
  --light-grey: hsl(0, 0%, 86%);
  --smokey-grey: hsl(0, 1%, 44%);
  --off-black: hsl(0, 0%, 8%);
}
.poppins-regular-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.poppins-bold {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
}
.poppins-extrabold-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-style: italic;
}
body {
  display: grid;
  min-height: 100vh;
  min-height: 100dvh;
  place-content: center;

  background-color: var(--off-white);
}

#age-form {
  position: relative;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
  border-bottom: 1px solid var(--light-grey);
  padding-block-end: 3.9rem;
}

.date-con {
  display: grid;
  gap: 0.28rem;
}
.error-hide {
  display: none;
}
.results-con {
  /* display: flex; */
  /* flex-direction: column; */
  line-height: 1.14;
  padding-block-start: 4rem;
}
.results {
  display: flex;
  gap: 0.68rem;
  font-size: 3.4rem;
}

.results > span {
  color: var(--purple);
  font-size: 3.45rem;
}
input {
  width: 100%;
  padding-block: 0.7rem;
  border: 1px solid var(--light-grey);
  border-radius: 8px;
  font-size: 1.2rem;
  text-indent: 0.9rem;
}

button {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 0;
  right: 0;
  bottom: -2rem;
  width: 4rem;
  height: 4rem;
  margin-inline: auto;
  background-color: var(--purple);
  border-radius: 2rem;
}
button > img {
  width: 1.6rem;
  height: 1.6rem;
}

label {
  font-size: 0.8rem;
  letter-spacing: 0.15rem;
  text-align: justify;
  color: var(--smokey-grey);
}

main {
  margin-inline: 1rem;
  /* Mobile */
  /* inline-size: 21.5rem; */
  /* block-size: 30.4rem; */
  /* Desktop */

  /* padding-inline: 1.5rem; */
  padding-inline: 1.45rem;
  padding-block: 3rem;
  background-color: var(--white);
  border-radius: 25px 25px 100px 25px;
}
