:root {
  --purple: hsl(259, 100%, 65%);
  --light-red: hsl(0, 100%, 67%);

  --white: hsl(0, 0%, 100%);
  --off-white: hsl(0, 0%, 94%);
  --light-grey: hsl(0, 0%, 86%);
  --smokey-grey: hsl(0, 1%, 44%);
  --off-black: hsl(0, 0%, 8%);
}

body {
  display: grid;
  min-height: 100vh;
  min-height: 100dvh;
  place-content: center;
}

#age-form {
  position: relative;
  display: grid;
  grid-template-columns: repeat(3, 1fr);

  border-bottom: 1px solid red;
}

.date-con {
  display: grid;
}
.error-hide {
  display: none;
}

input {
  width: 100%;
}

button {
  display: flex;
  position: absolute;
  bottom: -2rem;
  width: 4rem;
  height: 4rem;
  left: 0;
  right: 0;
  margin-inline: auto;
  background-color: var(--purple);
  justify-content: center;
  align-items: center;
  border-radius: 2rem;
}
button > img {
  width: 2rem;
  height: 2rem;
}
